* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    background-attachment: fixed;
    background-size: cover;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    justify-content: space-between;
    gap: 20px;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.title h2{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}
.title a{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}
.container {
    width: 60%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto auto;
}

.chart-container {
    width: 40%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto auto;
}
.column {
    width: 48%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.item {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item.marked {
    background-color: #fffae6;
    border-color: #ffc107;
}

.item h3 {
    margin-bottom: 10px;
    color: #ffffff;
}

.item p {
    margin-bottom: 15px;
    padding: 0 10px;
    color: #6e8efb;
    font-weight: bold;
}
h2 {
    margin-bottom: 20px;
    color: #4a4a4a;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #6e8efb;
    outline: none;
}

.btn, .reset, .send-to-email {
    width: 100%;
    padding: 4px;
    background-color: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn2 {
    width: 50%;
    padding: 4px;
    background-color: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn:hover, .reset:hover, .send-to-email:hover {
    background-color: #576fea;
}

a {
    color: #6e8efb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 10px;
}

.link{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
}


.user-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-menu button {
    background-color: #6e8efb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.user-menu .btn {
    background-color: #ffffff;
    color: #6e8efb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.user-menu button:hover {
    background-color: #576fea;
}

.dropdown {
    padding: 5px 5px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 150px;
    text-align: left;
    
}

.dropdown a {
    text-align: center;
    color: #6e8efb;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    width: auto;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;   
}

.dropdown a:hover {
    background-color: #f4f4f4;
}

.dropdown a:last-child {
    border-bottom: none;
}

#userInfo {
    display: flex;
    align-items: center;
    gap: 5px; 
}

#userInfo {
    color: #4a4a4a; 
    justify-content: center;
    padding: 5px 5px;

}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px; 
    background-color: #f5f5f5; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile-header h2 {
    color: #6e8efb; 
    font-size: 24px; 
    font-weight: bold; 
    margin: 0; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.marked-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.marked-items .item .btn {
    width: 60%;
    padding: 4px;
    background-color: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.marked-items .item .btn2 {
    width: 25%;
    padding: 4px;
    background-color: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#priceChart {
    max-width: 500px; 
    max-height: 300px; 

    margin: 0 auto; 
}


@media screen and (max-width: 428px) {
    body {
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start;
        height: auto; 
        padding: 10px;
    }

    .container {
        width: 95%; 
        font-size: 16px;
        padding: 10px;
        margin: 20px 0; 
    }

    .list {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
        justify-content: space-between; 
    }

    .column {
        width: 48%; 
        display: flex;
        flex-direction: column;
    }

    .item {
        width: 100%; 
        padding: 10px;
        font-size: 14px;
    }

    .input-group input {
        padding: 10px;
        font-size: 14px;
    }

    .btn, .reset, .send-to-email {
        width: 100%; 
        padding: 10px;
        font-size: 14px;
    }

    .btn2 {
        width: 45%; 
    }

    .marked-items {
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .profile-header {
        text-align: center;
        height: auto;
        margin-bottom: 20px;
        padding: 10px; 
        background-color: #f5f5f5; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    
    .profile-header h2 {
        color: #6e8efb; 
        font-size: 40px; 
        font-weight: bold; 
        margin: 0; 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    }

    .profile-header p {
        font-size: 20px; 
        margin-bottom: 10px; 
    }

    .profile-header a {
        font-size: 20px; 
    }
    

    .marked-items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .marked-items .item .btn {
        width: 55%;
        padding: 4px;
        background-color: #6e8efb;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    
    .marked-items .item .btn2 {
        width: 35%;
        padding: 4px;
        background-color: #6e8efb;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .marked-items p {
        font-size: 20px; 
        margin-bottom: 10px; 
    }
    #priceChart {
        display: block;
        max-width: 100%; 
        max-height: auto;
        margin: 0 auto; 
    }
    .chart-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: auto auto;
    }
}